* {
    margin: 0;
    padding: 0;
    font-style: bold;
    font-family: "Do Hyeon", sans-serif;
}
body div {
    margin : 0 auto;
}
li{list-style:none}

a{text-decoration:none; font-size:35px}

#header div {
    position: relative;
    background-color: black;
}
#header img{
    position: relative;
    left : 20%;
    width: 60%;
    height: 400px;
    padding : 2% 0%;
}


.menu {
    z-index: 3;
    width: 100%;
    overflow: hidden;
    position : relative;
    top: 42%;
}

.menu > li {
    width: 16%;
    float: left;
    text-align: center;
    line-height: 60px;
    background-color: Crimson;
    padding : 0 20px;
    padding-left :2%;
    padding-right : 2%;
}

.menu a {
    color: #fff;
}

.submenu > li {
    line-height: 50px;
    background-color: Crimson;
    
}

.submenu2 > li {
    line-height: 50px;
    background-color: Crimson;
}

.submenu3 > li {
    line-height: 50px;
    background-color: Crimson;
}

.submenu {
    height: 0;
    overflow: hidden;
}

.submenu2 {
height: 0;
overflow: hidden;
}

.submenu3 {
    height: 0;
    overflow: hidden;
}

.submenu4 {
    height: 0;
    overflow: hidden;
}

.submenu5 {
    height: 0;
    overflow:hidden;
}

.menu > li:hover {
    background-color: Crimson;
    transition-duration: 0.5s;
}

.menu > li:hover .submenu {
    height: 110px;
    transition-duration: 1s;
}

.menu > li:hover .submenu2 {
    height: 110px;
    transition-duration: 1s;
}

.menu > li:hover .submenu3 {
    height: 110px;
    transition-duration: 1s;
}

.menu > li:hover .submenu4 {
    height: 570px;
    transition-duration: 1s;
}

.menu > li:hover .submenu5 {
    height: 120px;
    transition-duration: 1s;
}

.menu .submenu a:hover {
    color : black;
}
.menu .submenu2 a:hover {
    color : black;
}
.menu .submenu3 a:hover {
    color : black;
}
.menu .submenu4 a:hover {
    color : black;
}
.menu .submenu5 a:hover {
    color : black;
}

.section {
    clear : left;
    display: inline-block;
    width: 100%;
    height : 100%;
}

.section .background {
    position: absolute;
    top : 53%;
}

.section .background img{
    width: 100%;
    height : 1500px;
    opacity : 100%;
}

.section .scrap_background {
    position: absolute;
    top : 53%;
}

.section .scrap_background img{
    width: 100%;
    height : 7000px;
    opacity : 100%;
}

.section .two_scrap_background {
    position: absolute;
    top : 53%;
}

.section .two_scrap_background img{
    width: 100%;
    height : 3200px;
    opacity : 100%;
}
.section .function_background {
    position: absolute;
    top : 53%;
}
.section .function_background img{
    width: 100%;
    height : 9000px;
    opacity : 100%;
}

.contentbox{
    background-color: black;
    width: 60%;
    height: 130%;
    position: absolute;
    top : 70%;
    left : 20%;
    border-radius: 30px;

}

.section .function_contentbox p{
    text-align: center;
}

.section .function_contentbox span{
    text-align: center;
    font-size : 145%;
}

.contentbox h1 {
    color : white;
    font-size : 40px;
    text-align: center;
    padding : 40px 0;
}

.contentbox .content1 {
    color : white;
    text-align: center;
    font-size : 35px;
    padding : 10px;
}
.contentbox .content2 {
    color : white;
    text-align: center;
    font-size : 30px;
}

.contentbox .content3 {
    color : white;
    text-align: center;
    font-size : 40px;
}

.contentbox .content4{
    color : white;
    text-align: center;
    font-size : 30px;
}

.contentbox .content5{
    color : white;
    text-align: center;
    font-size : 30px;
    padding: 25px 0;
}

.contentbox .back{
    color : white;
    text-align: center;
    font-size : 30px;
    padding: 25px 0;
}

.contentbox .content4 a{
    text-decoration: none;
    color : white;
    text-align: center;
    font-size : 30px;
}

.contentbox .back a{
    text-decoration: none;
    color : white;
    text-align: center;
    font-size : 40px;
}

.contentbox .content4 a:hover {
    color : red;
}

.contentbox .back a:hover {
    color : red;
}

.contentbox iframe {
    border-radius: 30px;
    padding-left : 27%;
}

.contentbox img {
    border-radius: 5px;
    padding-left : 25%;
}

.two_scrap_contentbox{
    background-color: black;
    width: 60%;
    height: 300%;
    position: absolute;
    top : 70%;
    left : 20%;
    border-radius: 30px;

}

.two_scrap_contentbox h1 {
    color : white;
    font-size : 40px;
    text-align: center;
    padding : 40px 0;
}

.two_scrap_contentbox .content1 {
    color : white;
    text-align: center;
    font-size : 35px;
    padding : 10px;
}
.two_scrap_contentbox .content2 {
    color : white;
    text-align: center;
    font-size : 30px;
}

.two_scrap_contentbox .content3 {
    color : white;
    text-align: center;
    font-size : 40px;
}

.two_scrap_contentbox .content4{
    color : white;
    text-align: center;
    font-size : 30px;
}

.two_scrap_contentbox .content5{
    color : white;
    text-align: center;
    font-size : 30px;
    padding: 25px 0;
}

.two_scrap_contentbox .back{
    color : white;
    text-align: center;
    font-size : 30px;
    padding: 25px 0;
}

.two_scrap_contentbox .content4 a{
    text-decoration: none;
    color : white;
    text-align: center;
    font-size : 30px;
}

.two_scrap_contentbox .back a{
    text-decoration: none;
    color : white;
    text-align: center;
    font-size : 40px;
}

.two_scrap_contentbox .content4 a:hover {
    color : red;
}

.two_scrap_contentbox .back a:hover {
    color : red;
}

.two_scrap_contentbox iframe {
    border-radius: 30px;
    padding-left : 27%;
}

.two_scrap_contentbox img {
    border-radius: 5px;
    padding-left : 25%;
}

.scrap_contentbox{
    background-color: black;
    width: 60%;
    height: 700%;
    position: absolute;
    top : 70%;
    left : 20%;
    border-radius: 30px;

}

.scrap_contentbox h1 {
    color : white;
    font-size : 40px;
    text-align: center;
    padding : 40px 0;
}

.scrap_contentbox .content1 {
    color : white;
    text-align: center;
    font-size : 35px;
    padding : 10px;
}
.scrap_contentbox .content2 {
    color : white;
    text-align: center;
    font-size : 30px;
}

.scrap_contentbox .content3 {
    color : white;
    text-align: center;
    font-size : 40px;
}

.scrap_contentbox .content4{
    color : white;
    text-align: center;
    font-size : 30px;
}

.scrap_contentbox .content5{
    color : white;
    text-align: center;
    font-size : 30px;
    padding: 25px 0;
}

.scrap_contentbox .back{
    color : white;
    text-align: center;
    font-size : 30px;
    padding: 25px 0;
}

.scrap_contentbox .content4 a{
    text-decoration: none;
    color : white;
    text-align: center;
    font-size : 30px;
}

.scrap_contentbox .back a{
    text-decoration: none;
    color : white;
    text-align: center;
    font-size : 40px;
}

.scrap_contentbox .content4 a:hover {
    color : red;
}

.scrap_contentbox .back a:hover {
    color : red;
}

.scrap_contentbox iframe {
    border-radius: 30px;
    padding-left : 27%;
}

.scrap_contentbox img {
    border-radius: 5px;
    padding-left : 25%;
}

.scrap_img{
    position: relative;
    width: 1.5%;
    height: 1.5%;
    left : -6%;
}

.two_scrap_img{
    position: relative;
    width: 5%;
    height: 5%;
    left : -6%;
}
.scrap_a {
    display: inline;
    position: relative;
    color : white;
    text-align: center;
    font-size : 25px;
    padding : 0 20px;
    top : -0.7%;
    left : -6%;
}

.function_contents {
    display: inline;
    position: relative;
    color : white;
    text-align: center;
    font-size : 25px;
    padding : 0 20px;
    top : -0.7%;
    left : 20%;
}

.function_contentbox{
    background-color: black;
    width: 60%;
    height: 900%;
    position: absolute;
    top : 70%;
    left : 20%;
    border-radius: 30px;

}

.function_contentbox h1 {
    color : white;
    font-size : 40px;
    text-align: center;
    padding : 40px 0;
}

.function_contentbox .content1 {
    color : white;
    text-align: center;
    font-size : 35px;
    padding : 10px;
}
.function_contentbox .content2 {
    color : white;
    text-align: center;
    font-size : 30px;
}

.function_contentbox .content3 {
    color : white;
    text-align: center;
    font-size : 40px;
}

.function_contentbox .content4{
    color : white;
    text-align: center;
    font-size : 30px;
}

.function_contentbox .content5{
    color : white;
    text-align: center;
    font-size : 30px;
    padding: 25px 0;
}

.function_contentbox .back{
    color : white;
    text-align: center;
    font-size : 30px;
    padding: 25px 0;
}

.function_contentbox .content4 a{
    text-decoration: none;
    color : white;
    text-align: center;
    font-size : 30px;
}

.function_contentbox .back a{
    text-decoration: none;
    color : white;
    text-align: center;
    font-size : 40px;
}

.function_contentbox .content4 a:hover {
    color : red;
}

.function_contentbox .back a:hover {
    color : red;
}

.function_contentbox iframe {
    border-radius: 30px;
    padding-left : 27%;
}

.function_contentbox img {
    border-radius: 5px;
    padding-left : 25%;
}



#footer{
    position: absolute;
    width: 100%;
    bottom : -125%;
    background-color : black;
    color : white; 
    font-size : 20px;
    height: 20%;
    font-weight: bold;
}
#footer a{
    color : white;
    font-size : 20px;
    font-weight: bold;
}

#scrap_footer{
    position: absolute;
    width: 100%;
    bottom : -700%;
    background-color : black;
    color : white; 
    font-size : 20px;
    height: 20%;
    font-weight: bold;
}
#scrap_footer a{
    color : white;
    font-size : 20px;
    font-weight: bold;
}

#two_scrap_footer{
    position: absolute;
    width: 100%;
    bottom : -300%;
    background-color : black;
    color : white; 
    font-size : 20px;
    height: 20%;
    font-weight: bold;
}
#two_scrap_footer a{
    color : white;
    font-size : 20px;
    font-weight: bold;
}

#function_footer{
    position: absolute;
    width: 100%;
    bottom : -920%;
    background-color : black;
    color : white; 
    font-size : 20px;
    height: 20%;
    font-weight: bold;
}
#function_footer a{
    color : white;
    font-size : 20px;
    font-weight: bold;
}

.sidebar {
    width: 20%;
    height: 160%;
    position: absolute;
    top : 60%;
    left : 97%;
    background-color: black;
    border-radius: 30px;
    transition: 0.3s;
    transform: translate(calc(var(--side-bar-width) * -0.9), 0); 
}
.left_sidebar {
    width: 20%;
    height: 160%;
    position: absolute;
    top : 60%;
    right : 97%;
    background-color: black;
    border-radius: 30px;
    transition: 0.3s;
    transform: translate(calc(var(--side-bar-width) * -0.9), 0); 
}

.out_left_sidebar {
    width: 20%;
    height: 50%;
    position: absolute;
    top : 60%;
    right : 97%;
    background-color: black;
    border-radius: 30px;
    transition: 0.3s;
    transform: translate(calc(var(--side-bar-width) * -0.9), 0); 
}


.sidebar p {
    color : white;
    text-align: center;
    font-size : 40px;
    padding: 25px 0;
}

.left_sidebar p {
    color : white;
    text-align: center;
    font-size : 40px;
    padding: 25px 0;
}

.out_left_sidebar p {
    color : white;
    text-align: center;
    font-size : 40px;
    padding: 25px 0;
}

.sidebar img {
    width: 30%;
    height: 10%;
    padding : 20px;
}


.left_sidebar img {
    width: 30%;
    height: 10%;
    padding : 20px;
    padding-left: 70px;
}

.out_left_sidebar img {
    width: 30%;
    height: 10%;
    padding : 20px;
    padding-left: 70px;
}

.sidebar a {
    font-size: 25px;
    color : white;
    position: relative;
    top: -7%;
}

.left_sidebar a {
    font-size: 25px;
    color : white;
    position: relative;
    top: -7%;
}

.out_left_sidebar a {
    font-size: 25px;
    color : white;
    position: relative;
    top: -7%;
}

.sidebar a:hover {
    color : red;
}

.left_sidebar a:hover {
    color : red;
}

.out_left_sidebar a:hover {
    color : red;
}

.sidebar:hover {
    transform: translate(-250px, 0);
}

.left_sidebar:hover {
    transform: translate(250px, 0);
}

.out_left_sidebar:hover {
    transform: translate(250px, 0);
}